name: CI Test

on:
  pull_request:
    branches: [ "main" ]
  push:
    branches: [ "main" ]

jobs:
  test-apple-silicon:
    name: Test on M1 Mac
    runs-on: macos-14

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Build Dependencies
        run: |
          pip install --upgrade pip setuptools wheel cmake pybind11

      - name: Build Backend (CMake)
        run: |
          mkdir build
          cd build
          cmake -Dpybind11_DIR=$(python -m pybind11 --cmakedir) ..
          cmake --build .

      - name: Install Library
        # Installs your library in editable mode
        run: pip install -e .

      - name: Install Test Dependencies
        run: pip install pytest

      - name: Run Tests
        run: |
          pytest tests/
